/* import font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Não estilizado */
#Contato {
    font-family: initial;
}

*{
    box-sizing: border-box;

    /* apply font to whole project */
    font-family: "Poppins", sans-serif;

    /* color vars */
    --marroon: #671910;
    --marroon-lighter: #71231a;
    --off-white: #fefefe;
}


html, body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.Homepage{
    width: 100%;
    height: 100%;
    background-color: var(--off-white);
    margin: 0 auto;
}

.GameMenu{
    display: flex;
    flex-direction: column;
    align-self: center;

    height: 97%;
    min-width: 300px;

    align-items: center;
    /* justify-content: center; */

    padding-top: 10%;
    gap: 0.7rem;    
}


.Logo img{
    aspect-ratio: 1;
    width: 100px;
    height: auto;
}

.Botoes{
    display: flex;
    flex-direction: column;
    gap: .8rem;

    /* pega o maior, ou 300px ou 20%, 
    então o menor tamanho do botao vai ser 300px 
    mas pode ser maior */
    width: max(300px, 20%);
}

button{
    width: 100%;
    height: 50px;
    background-color: var(--marroon);

    border: 0;
    color: var(--off-white);

    border-radius: 5px;
    font-size: 1.5rem;
}

button:hover{
    background-color: var(--marroon-lighter);
}

.Contato{
    align-self: flex-end;
    background-color: var(--marroon);

    border: 0;
    color: var(--off-white);

    border-radius: 5px;
    font-size: 1rem;
}